@import "tailwindcss";

@theme {
  /* Initial means override tailwind default colors */
  --color-*: initial;

  --color-primary: var(--c-primary);
  --color-bg-first: var(--c-bg);
  --color-bg-second: var(--c-bg-sn);
  --color-blue: var(--c-blue);
  --color-purple: var(--c-purple);
  --color-white: #fff;
  --color-red: #fb2c36;
  --color-navbar: var(--c-navbar);
  --color-card: var(--c-card);
  --breakpoint-xs: 400px;
}

:root[data-theme="light"] {
  --c-primary: #1f1f24;
  --c-bg: #eef1f5;
  --c-bg-sn: #cfdef5;
  --c-blue: #3b82f6;
  --c-purple: #a855f7;
  --c-navbar: #3b82f6;
  --c-card: #cfdef5;
}
:root[data-theme="dark"] {
  --c-primary: #ffffff;
  --c-bg: #121212;
  --c-bg-sn: #1f1f24;
  --c-blue: #3b82f6;
  --c-purple: #a855f7;
  --c-navbar: #1f1f24;
  --c-card: #101123;
}

@layer base {
  :root,
  html,
  body {
    background-color: var(--color-bg-first);
    color: var(--color-primary);
    /* This ensures a smooth font smoothing on Mac */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Inter", sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  .section-title {
    font-family: "Urbanist", sans-serif;
  }

  input,
  textarea,
  button {
    font-family: "Inter", sans-serif;
  }

  *,
  *::before,
  *::after {
    user-select: none;
    -webkit-user-select: none;
  }
}

@layer components {
  .logo-family {
    font-family: "orbitron", sans-serif;
  }

  .section-title {
    @apply text-4xl text-center  font-extrabold text-primary w-max m-auto;
  }

  .form-input {
    @apply bg-bg-second  border border-bg-second rounded-lg px-3 py-2.5 focus:border-blue focus:outline-none;
  }

  .container-main {
    @apply max-sm:max-w-[100%] max-md:max-w-[544px] max-lg:max-w-[672px] max-xl:max-w-[1928px] max-2xl:max-w-[1184px] max-w-[1440px]   w-full mx-auto;
  }
  .tooltip {
    @apply bg-bg-first text-primary shadow-[0_4px_12px_rgba(0,0,0,0.15)];
    @apply px-3 py-2 rounded-xl whitespace-nowrap font-semibold text-sm;
    @apply absolute bottom-full left-[50%] -translate-x-0.5;
    @apply opacity-0 -translate-y-1.25 transition-all duration-200 ease-in z-10;
  }

  /* Hero Button Start */

  .button {
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: #3b82f6;
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;
    cursor: pointer;
  }

  .icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
  }

  .button:hover {
    transform: scale(1.05);
    border-color: #fff9;
  }

  .button:hover .icon {
    transform: translate(4px);
  }

  .button:hover::before {
    animation: shine 1.5s ease-out infinite;
  }

  .button::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
  }

  @keyframes shine {
    0% {
      left: -100px;
    }

    60% {
      left: 100%;
    }

    to {
      left: 100%;
    }
  }
  /* Hero Button End */

  /* About Card Start */

  .card {
    width: 100%;
    background-image: linear-gradient(163deg, #a855f7 0%, #3b82f6 100%);
    border-radius: 14px;
    transition: all 0.3s;
  }

  .card2 {
    width: 100%;
    border: 1px solid #2a2e5a;
    border-radius: 14px;
    transition: all 0.2s;
    padding: 12px 20px;
    cursor: pointer;
    color: #e5e7eb;
    @apply bg-card;
  }

  .card2:hover {
    transform: scale(0.98);
  }

  .card:hover {
    box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.3);
  }

  /* About Card End */

  .btn-color {
    background: linear-gradient(90deg, #3b82f6, #60a5fa);
  }

  /* About Tabs End */

  /* Tab Buttons Start */

  .pill-radio-container {
    --text-color: #fff;
    --pill-bg: var(--c-bg-sn);
    --total-options: 8;

    display: flex;
    position: relative;
    background: var(--pill-bg);
    border-radius: 30px;
    padding: 8px;
    gap: 1rem;
    width: fit-content;
  }

  .pill-radio-container input {
    display: none;
  }

  .pill-radio-container label {
    position: relative;
    padding: 0.6rem 1.5rem;
    cursor: pointer;
    font-weight: 600;
    color: var(--text-color);
    transition: color 0.3s ease-in-out;
    z-index: 2;
  }

  .pill-radio-container input:checked + label {
    color: #fff;
  }

  .pill-radio-container label:hover {
    color: var(--main-color);
  }

  .pill-indicator {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    width: calc(100% / var(--total-options));
    border-radius: 2px;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
  }

  /* Sliding effect */
  #pill-all:checked ~ .pill-indicator {
    transform: translateX(30%);
  }
  #pill-react:checked ~ .pill-indicator {
    transform: translateX(210%);
  }
  #pill-landing:checked ~ .pill-indicator {
    transform: translateX(430%);
  }
  #pill-email:checked ~ .pill-indicator {
    transform: translateX(650%);
  }

  /* Tab Buttons End */
}
